h1{
    color :red;
}
#heading2{
    color: blue;
}
.heading{
    color:rgb(222, 72, 210);
}
.para{
    color: brown;
    border:15px;
    border-style: solid;
    padding: 20px;
    text-align: center;
}