h1{
    color :red;
}
#heading2{
    color: blue;
}
.heading{
    color:rgb(222, 72, 210);
}
.para{
    color: brown;
    border:15px;
    border-style: solid;
    padding: 20px;
    text-align: center;
}
.navbar{
    border:3px;
    border-style: solid;
    border-color: black;
    background-color:rgb(203, 196, 196);
    padding: 15px;
    text-align: center;
}
.navbar a{
    color:black;
    padding: 30px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: brown;
    color: white;
}
body{
    margin: 0px;
}
